# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.bloop
.metals
.settings
bin
.project
.classpath

# Ignore core dupmps
.log

#ignore ide folders
.idea/
.vscode/

*.spv
gradlew
gradlew/wrapper
target
project/target
out
hs_err_pid*.log
.bsp